[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/TheMoonHunter
[access "refs/for/refs/*"]
	read = group user/TheMoonHunter
	push = group user/TheMoonHunter
	label-Code-Review = -2..+2 group user/TheMoonHunter
	label-Verified = -1..+1 group user/TheMoonHunter
	rebase = group user/TheMoonHunter
	removeReviewer = group user/TheMoonHunter
	submit = group user/TheMoonHunter
[access "refs/heads/*"]
	read = group user/TheMoonHunter
	create = group user/TheMoonHunter
	push = +force group user/TheMoonHunter
	pushMerge = group user/TheMoonHunter
[access "refs/tags/*"]
	push = group user/TheMoonHunter
	push = +force group user/TheMoonHunter
[submit]
	action = merge always
[project]
	state = hidden
